---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Nav from '../layouts/Nav.astro';
import ContenedoresPadres from "../layouts/ContenedoresPadres.astro";
import H1 from "../components/Titulos.astro"
import Footer from "../layouts/Footer.astro";
---

<Layout title='Nuestra comunidad'>
    <Main>
        <Nav enlace="https://walstar29.github.io/Portal-Digital/" text='Home' icon=' fa-solid fa-house'
		enlace2="https://walstar29.github.io/Portal-Digital/galeria/" text2='Galeria' icon2='fa-solid fa-image'
		enlace3="https://walstar29.github.io/Portal-Digital/proyectos/" text3='Proyectos' icon3='fa-solid fa-seedling'
		enlace4='https://walstar29.github.io/Portal-Digital/ambiente/' text4='Ambiente' icon4='fa-solid fa-helmet-safety'
		enlace5='/Turismo' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='' text6='' icon6=''></Nav>

        <ContenedoresPadres>
            <H1 title='Area de fotografias'></H1>
            <div class="imagenes">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaSistemas/GrupoSISTEMAS.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaQuimica/GrupoQuimica.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaMecanica/GrupoMecanica.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaIndustrial/GrupoIndustrial.jpg?raw=true" alt="">

                <video controls autoplay loop muted>
                    <source src="https://drive.google.com/file/d/1bzM-Ky7UA8B0ZrzMVzdZ--FoT_Ul_A_y/view?usp=sharing">
                </video>

                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_2.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_3.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_4.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_5.jpg?raw=true" alt="">
                
                <video controls autoplay loop muted>
                    <source src="https://drive.google.com/file/d/1zyaPoTOGTwdUBLNA18xGM92qvEDfaxQB/view?usp=sharing">
                </video>

                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_6.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_7.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_8.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_9.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_10.jpg?raw=true" alt="">

                <video controls autoplay loop muted>
                    <source src="https://drive.google.com/file/d/1kjhe-cZpMNkDEoAJFEC3EjBf85Ri3i_Q/view?usp=sharing">
                </video>

                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_11.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_12.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_13.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_14.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_15.jpg?raw=true" alt="">

                <video controls autoplay loop muted>
                    <source src="https://drive.google.com/file/d/1YJy4JIVW9lh5MQYsIlLIcTNMwhhZgRY7/view?usp=sharing">
                </video>

                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_16.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_17.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_18.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_19.jpg?raw=true" alt="">
                <img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Galeria/imagen_20.jpg?raw=true" alt="">

                <video controls autoplay loop muted>
                    <source src="https://drive.google.com/file/d/1CuGpt8PwZB5hYQRxwEoBAA592NW0BI4r/view?usp=sharing">
                </video>
            </div>
        </ContenedoresPadres>

        <Footer></Footer>
    </Main>
</Layout>

<style>

    .imagenes{
        text-align: center;
        padding: 5% 0;
    }
    img, video{
        width: 20%;
        margin: 1%;
        border-radius: 10px;
    }

    @media(max-width: 600px){
        img, video{
        width: 30%;
    }
    }
</style>