---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Nav from '../layouts/Nav.astro';
import User from '../components/UserInvestigador.astro';
import ContenedoresPadres from "../layouts/ContenedoresPadres.astro";
import H1 from "../components/Titulos.astro";
import ContenedorInformacion from "../layouts/Informacion.astro"
import ContenedorCartas from "../layouts/ContenedoresCartas.astro"
import Cartas from "../layouts/CartaInformativa.astro";
import Footer from "../layouts/Footer.astro";
import Botones from '../components/Botones.astro';
---

<Layout title='Proyectos'>
    <Main>
		<Nav enlace="https://walstar29.github.io/Portal-Digital/i_home/" text="Home" icon=' fa-solid fa-house'
		enlace2="https://walstar29.github.io/Portal-Digital/i_galeria/" text2='Galeria' icon2='fa-solid fa-image'
		enlace3="https://walstar29.github.io/Portal-Digital/i_proyectos/" text3='Proyectos' icon3='fa-solid fa-seedling'
		enlace4='https://walstar29.github.io/Portal-Digital/i_ambiente/' text4='Ambientes' icon4='fa-solid fa-helmet-safety'
		enlace5='' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
		enlace6='https://walstar29.github.io/Portal-Digital/' text6='Regresar' icon6='fa-solid fa-person-walking-arrow-loop-left'></Nav>
		
		<User user='Walter Castro'></User>
        <!-- ContenedorPadre -->
		<ContenedoresPadres >
			<H1 title='Futuros proyectos'></H1>
			<ContenedorInformacion subtitle='' contexto='Las Instituciones Universitarias, Instituto Unicersitario Politecnico "Santiago Marino" y El Tecnologico "Antonio Jose De Sucre" EXTENSION PORLAMAR, Se toman de la mano para dirigirse al municipio tubores, Punta de Piedras para estar presente a las comunidades y sectores'>
				<div class="LogosUniversidad">
					<img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Png/Santiago_Marinio.png?raw=true" alt="">
					<img src="https://github.com/WalStar29/Portal-Digital/blob/main/public/Png/Antonio_jose_de_sucre.png?raw=true" alt="">
				</div>
			</ContenedorInformacion>
            <div class="icon">
                <a href="/modificarInfo"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                <i class="fa-solid fa-trash" style="color: #000000;"></i>
            </div>
		</ContenedoresPadres>


		<!-- ContenedorPadre 2 -->
		<ContenedoresPadres>
			<ContenedorCartas>
				<Cartas titulo='Portal Digital para la concientizacion del ambiente' contexto='Se propone el desarrollo de un Portal Digital para la conientizacion del ambiente educativo, que busque informacion y sensibilizar a la comunidad sobre el cuidado ambiental' imagen='https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaSistemas/GrupoSISTEMAS.jpg?raw=true'>
                    <div class="icon">
                        <a href="/modificarInfo"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                        <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </div>
                </Cartas>

				<Cartas titulo='Diseño de una Maquina Trituradora para las conchas marinas ' contexto='Se propone el diseno de una Maquina trituradora para las conchas marinas ubicado en el pase EsterGil con el objetivos de triturar para el benefios de la poblacion, en la cual se hara contriccion de bloques, edificaciones, decoraciones de relleno, entre otros ' imagen='https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaMecanica/GrupoMecanica.jpg?raw=true'>
                    <div class="icon">
                        <a href="/modificarInfo"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                        <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </div>
                </Cartas>

				<Cartas titulo='Diseño de una plan de seguridad integral para la terminal de ferry punta de piedras' contexto='Se propone un diseño de seguridad integral para el terminal de ferry en punta de piedras para salvaguardar la seguridad de los pasajeros y de los pertenecientes a la comunidad donde se busca un equilibrio entre una infraestructura segura y una panorámica atrayente' imagen='https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaIndustrial/GrupoIndustrial.jpg?raw=true'>
                    <div class="icon">
                        <a href="/modificarInfo"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                        <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </div>
                </Cartas>

				<Cartas titulo='Evaluación de la calidad del agua en la Laguna de Punta de Piedras y sus riesgos para salud en la Comunidad' contexto='Evaluar la calidad de agua y ver como afecta a las comunidades cercanas; para proponer la idea del tratamiento y poder tomar accion en la que ayuden a descontaminar y proteger la laguna de punta de piedras' imagen='https://github.com/WalStar29/Portal-Digital/blob/main/public/IngenieriaQuimica/GrupoQuimica.jpg?raw=true'>
                    <div class="icon">
                        <a href="/modificarInfo"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                        <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </div>
                </Cartas>
			</ContenedorCartas>

            <Botones text2='' text='Registrar'></Botones>
		</ContenedoresPadres>

		<Footer></Footer>
    </Main> 
</Layout>

<style>
	.LogosUniversidad{
		display: flex;
		justify-content: center;
	}

	img{
		width: 20%; 
		filter: drop-shadow(
			0 0 5px rgb(255, 255, 255)
		);
	}

    .icon{
		display: flex;
		justify-content: space-around;
		font-size: 150%;
		width: 100%;
	}

</style>