---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import User from "../components/UserInvestigador.astro";
import Label from '../layouts/NavHorizontal.astro';
import ContenedoresPadres from "../layouts/ContenedoresPadres.astro";
import H1 from "../components/Titulos.astro"
import ContenedorInformacion from "../layouts/Informacion.astro"
import ContenedorCartas from "../layouts/ContenedoresCartas.astro"
import Cartas from "../layouts/CartaInformativa.astro";
import Slider from "../components/Slider.astro";
import Footer from "../layouts/Footer.astro";
---

<a href="/modificarInfo"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
<i class="fa-solid fa-trash" style="color: #000000;"></i> 
<Layout title="Investigador">
    <Main>
        <User user='Walter Castro'></User>
		
		<Label text='Nuestro ambiente' 
			text2='Biotica de la laguna' 
			text3='Sectores de la comunidad' 
			text4='Proyectos' 
			text5='Cerrar sesion' 
			id='investigador.html#Ambiente' 
			id2='investigador.html#BioticaLaguna' 
			id3='investigador.html#Sectores' 
			id4='investigador.html#proyectos' 
			id5='/loginUser'>
		</Label>

		<ContenedoresPadres>
			<H1 title='Punta de piedras'></H1>
			<ContenedorInformacion subtitle='' contexto='Punta de Piedras es una ciudad ubicada en la costa centro-sur de la Isla de Margarita​ y tiene una población,  según censo de 10.000 habitantes. Es la capital del Municipio Tubores, estado Nueva Esparta, que forma parte de la República Bolivariana de Venezuela. Es la puerta de entrada a la isla, ya que ahí se encuentran tres puertos marítimos; desde donde se puede navegar en pequeñas embarcaciones a las vecinas Isla de Cubagua e Isla de Coche. También conecta mediante el uso de Ferrys a la isla con el continente, específicamente con las ciudades de Puerto La Cruz, Cumaná y La Guaira. El clima es como el resto de la isla, tropical, de los 28º hasta los 42°C.'>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30117.910166229405!2d-64.11043915274557!3d10.904541562118578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c31f7cc9dcf8c31%3A0x40babd702bc746bf!2sPunta%20de%20Piedras%2C%20Nueva%20Esparta!5e1!3m2!1ses!2sve!4v1730230321815!5m2!1ses!2sve" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</ContenedorInformacion>
			<div class="div">
				<button>registro</button>
				<button>modificar</button>
			</div>
		</ContenedoresPadres>

			<!-- ContenedorPadre 2 -->
		<ContenedoresPadres>
			<div id="Ambiente">
				<H1 title='TOMEMOS CONCIENCIA DE NUESTRA COMUNIDAD'></H1>
			</div>
			<ContenedorInformacion subtitle='' contexto='La Laguna de Punta de Piedras, situada en Isla de Margarita, Venezuela, enfrenta un deterioro alarmante en sus condiciones ambientales, lo que plantea serias preocupaciones para la salud pública y la biodiversidad local. Este ecosistema costero, que es vital para numerosas especies marinas y para las comunidades que dependen de sus recursos, está siendo afectado por múltiples factores contaminantes relacionados con la actividad humana.'>
				<Slider 
					imagen='/public/Jpg/Contraminacion Sector.jpg' 
					imagen2='/public/Jpg/Contraminacion2 Sector.jpg' 
					imagen3='/public/Jpg/Contraminacion3 Sector.jpg' 
					imagen4='/public/Jpg/Contraminacion4 Sector.jpg' 
					imagen5='/public/Jpg/Contraminacion5 Sector.jpg'>
				</Slider>
			</ContenedorInformacion>
				<div class="div">
					<button>registro</button>
					<button>modificar</button>
				</div>
		</ContenedoresPadres>

		<!-- ContenedorPadre 3 -->
		<ContenedoresPadres>
			<div id="Especies">
				<H1 title='Especies que habitan'></H1>
			</div>
			<ContenedorCartas>
				<Cartas titulo='hola' contexto='ey tu' imagen='/public/Especies/garza-blanca.jpg'>
					<label for="">id: 1</label>
					<button>registro</button>
					<button>modificar</button>
				</Cartas>
				<Cartas titulo='hola' contexto='ey tu' imagen='/public/Especies/garza-blanca.jpg'>
					<label for="">id: 1</label>
					<button>registro</button>
					<button>modificar</button>
				</Cartas>
				<Cartas titulo='hola' contexto='ey tu' imagen='/public/Especies/garza-blanca.jpg'>
					<label for="">id: 1</label>
					<button>registro</button>
					<button>modificar</button>
				</Cartas>
				<Cartas titulo='hola' contexto='ey tu' imagen='/public/Especies/garza-blanca.jpg'>
					<label for="">id: 1</label>
					<button>registro</button>
					<button>modificar</button>
				</Cartas>
			</ContenedorCartas>
		</ContenedoresPadres>



        <Footer></Footer>
    </Main>  
</Layout>

<style>

	.div{
		display: flex;
		justify-content: space-evenly;
		padding: 2% 0;
		width: 100%;
		border: solid 1px red;
	}

</style>