---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import Footer from "../layouts/Footer.astro";
import Nav from "../layouts/Nav.astro";
import SignIn from "../components/SignIn.astro";
import SignUp from "../components/SignUp.astro";
---

<Layout title="Investigadores">
    <Main>
        <Nav enlace="https://walstar29.github.io/Portal-Digital/" text='Home' icon=' fa-solid fa-house'
		enlace2="https://walstar29.github.io/Portal-Digital/galeria/" text2='Galeria' icon2='fa-solid fa-image'
		enlace3="https://walstar29.github.io/Portal-Digital/proyectos/" text3='Proyectos' icon3='fa-solid fa-seedling'
		enlace4='https://walstar29.github.io/Portal-Digital/ambiente/' text4='Ambiente' icon4='fa-solid fa-helmet-safety'
		enlace5='/Turismo' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
        enlace6='' text6='' icon6=''></Nav>
        
            <SignUp></SignUp>
            <SignIn text="https://walstar29.github.io/Portal-Digital/i_home/"></SignIn>
            
        <Footer></Footer>
    </Main>
</Layout>

<style>

</style>