---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import Footer from "../layouts/Footer.astro";
import Nav from "../layouts/Nav.astro";
import SignIn from "../components/SignIn.astro";
import SignUp from "../components/SignUp.astro";
---

<Layout title="Investigadores">
    <Main>
        <Nav text="https://walstar29.github.io/Portal-Digital/" 
		text2="https://walstar29.github.io/Portal-Digital/galeria/" 
		text3="https://walstar29.github.io/Portal-Digital/proyectos/" 
		text4='https://walstar29.github.io/Portal-Digital/ambiente/'
		text5='Turismo'></Nav>
        
            <SignUp></SignUp>
            <SignIn></SignIn>
            
        <Footer></Footer>
    </Main>
</Layout>

<style>

</style>