---
import Layout from "../layouts/Layout.astro"
import Main from "../layouts/Main.astro"
import Nav from "../layouts/Nav.astro"
import Modificacion from "../components/ModificarInfo.astro"
import Footer from "../layouts/Footer.astro"
---


<Layout title="Modificar informacion">
    <Main>
        <Nav enlace="/i_home" text="Home" icon=' fa-solid fa-house'
		enlace2="/i_galeria" text2='Galeria' icon2='fa-solid fa-image'
		enlace3="/i_proyectos" text3='Proyectos' icon3='fa-solid fa-seedling'
		enlace4='/i_ambiente' text4='Ambientes' icon4='fa-solid fa-helmet-safety'
		enlace5='' text5='Turismo' icon5='fa-solid fa-umbrella-beach'
		enlace6='/' text6='Regresar' icon6=""></Nav>

        <Modificacion></Modificacion>

        <Footer></Footer>
    </Main>
</Layout>

<style>

</style>