---
import Layout from "../layouts/Layout.astro"
import Main from "../layouts/Main.astro"
import Nav from "../layouts/Nav.astro"

import Modificacion from "../components/ModificarInfo.astro"

import Footer from "../layouts/Footer.astro"
---


<Layout title="Modificar informacion">
    <Main>
        <Nav text="Home" text2="Galeria" text3="Proyectos" text4="Ambiente"></Nav>

        <Modificacion></Modificacion>

        <Footer></Footer>
    </Main>
</Layout>

<style>

</style>