---
---

<footer>
    <div class="contenedor1">
        <p>Informacion aqui</p>
    </div>

    <div class="contenedor2">
        <ul>
            <li><a href="/loginUser">Iniciar sesion como investigador</a></li>
            <li><a href="">Iniciar sesion como administrador</a></li>
        </ul>
    </div>
</footer>

<style>
    footer{
        background-color: rgb(97, 103, 122);
        display: flex;
        padding: 1%;
    }

    .contenedor1{
        width: 50%;
        display: flex;
    }

    .contenedor2{
        width: 50%;
        display: flex;
        justify-content: right;
        text-align: right;
    }


    .contenedor2 ul li{
        list-style: none;
        margin: 0 0 2% 0;
    }

    .contenedor2 ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);

    }
</style>