---
interface Props {
	subtitle: string;
    contexto: string;
}
const {contexto, subtitle} = Astro.props;
---

<div class="ContenedorInformacion">
    <div class="Container">
		<div><h2>{subtitle}</h2>
			<p>{contexto}</p>
		</div>

        <div class="multimedia">
            <slot />
        </div>
    </div>
</div>

<style>
	.ContenedorInformacion .Container{
		font-size: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		padding: 0 0 2% 0;
	}

	.multimedia{
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>